In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Basic Library to import 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/content/drive/MyDrive/data analytic -20220106T192432Z-001/data analytic/salary1.csv")
df

      Unnamed: 0  age  ...  native-country  Income
0              0   39  ...   United-States       0
1              1   50  ...   United-States       0
2              2   38  ...   United-States       0
3              3   53  ...   United-States       0
4              4   28  ...            Cuba       0
...          ...  ...  ...             ...     ...
1027        1114   34  ...   United-States       0
1028        1116   36  ...   United-States       0
1029        1117   41  ...   United-States       0
1030        1118   58  ...   United-States       1
1031        1119   53  ...           Japan       0

[1032 rows x 16 columns]

In [4]:
# Now delete the unwanted columns from the dataset
df.drop("Unnamed: 0",axis=1,inplace=True)
df

      age          Workclass  fnlwgt  ... hours-per-week  native-country Income
0      39          State-gov   77516  ...             40   United-States      0
1      50   Self-emp-not-inc   83311  ...             13   United-States      0
2      38            Private  215646  ...             40   United-States      0
3      53            Private  234721  ...             40   United-States      0
4      28            Private  338409  ...             40            Cuba      0
...   ...                ...     ...  ...            ...             ...    ...
1027   34            Private  290763  ...             40   United-States      0
1028   36            Private   51100  ...             40   United-States      0
1029   41            Private  227644  ...             50   United-States      0
1030   58          Local-gov  205267  ...             40   United-States      1
1031   53            Private  288020  ...             40           Japan      0

[1032 rows x 15 columns]

In [5]:
# Now check the null values in the dataset
df.isnull().sum()

age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1032 non-null   int64
 1   Workclass       1032 non-null   object
 2   fnlwgt          1032 non-null   int64
 3   education       1032 non-null   object
 4   education-num   1032 non-null   int64
 5   marital-status  1032 non-null   object
 6   occupation      1032 non-null   object
 7   relationship    1032 non-null   object
 8   race            1032 non-null   object
 9   sex             1032 non-null   object
 10  capital-gain    1032 non-null   int64
 11  capital-loss    1032 non-null   int64
 12  hours-per-week  1032 non-null   int64
 13  native-country  1032 non-null   object
 14  Income          1032 non-null   int64
dtypes: int64(7), object(8)
memory usage: 121.1+ KB

In [7]:
# Label Encoding 
# Split the data type from the above table
df_cat = df.select_dtypes(object)
# Here the df_cat id new DataFrame for the catagorical data-type
df_cat

              Workclass      education  ...      sex  native-country
0             State-gov      Bachelors  ...     Male   United-States
1      Self-emp-not-inc      Bachelors  ...     Male   United-States
2               Private        HS-grad  ...     Male   United-States
3               Private           11th  ...     Male   United-States
4               Private      Bachelors  ...   Female            Cuba
...                 ...            ...  ...      ...             ...
1027            Private        HS-grad  ...   Female   United-States
1028            Private   Some-college  ...     Male   United-States
1029            Private        HS-grad  ...     Male   United-States
1030          Local-gov      Bachelors  ...   Female   United-States
1031            Private      Bachelors  ...     Male           Japan

[1032 rows x 8 columns]

In [8]:
# Second data-type df_num which hold int and float data-type 
df_num = df.select_dtypes(["int64","float64"])
df_num

      age  fnlwgt  education-num  ...  capital-loss  hours-per-week  Income
0      39   77516             13  ...             0              40       0
1      50   83311             13  ...             0              13       0
2      38  215646              9  ...             0              40       0
3      53  234721              7  ...             0              40       0
4      28  338409             13  ...             0              40       0
...   ...     ...            ...  ...           ...             ...     ...
1027   34  290763              9  ...             0              40       0
1028   36   51100             10  ...             0              40       0
1029   41  227644              9  ...             0              50       0
1030   58  205267             13  ...             0              40       1
1031   53  288020             13  ...             0              40       0

[1032 rows x 7 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# Here all catagorical data is converted into the numerical data-type with help of LabelEncoder library
for col in df_cat:
    # Create the object of LabelEncoder Class
    le = LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Workclass       1032 non-null   int64
 1   education       1032 non-null   int64
 2   marital-status  1032 non-null   int64
 3   occupation      1032 non-null   int64
 4   relationship    1032 non-null   int64
 5   race            1032 non-null   int64
 6   sex             1032 non-null   int64
 7   native-country  1032 non-null   int64
dtypes: int64(8)
memory usage: 64.6 KB

In [11]:
# Finally we concatenate of 2 DataFrame
df_new = pd.concat([df_cat,df_num],axis=1)
df_new

      Workclass  education  ...  hours-per-week  Income
0             5          9  ...              40       0
1             4          9  ...              13       0
2             2         11  ...              40       0
3             2          1  ...              40       0
4             2          9  ...              40       0
...         ...        ...  ...             ...     ...
1027          2         11  ...              40       0
1028          2         15  ...              40       0
1029          2         11  ...              50       0
1030          1          9  ...              40       1
1031          2          9  ...              40       0

[1032 rows x 15 columns]

In [12]:
# Here the target variable is " Income " which want to predict if whether a person makes over $50K a year or not.
# Means predict YES means 1 and NO means 0
# Seperate the Input (Indepedent Variable) and Output means Target variable 
X = df_new.drop("Income",axis=1)  # Input
Y = df_new["Income"]              # Output

In [13]:
df_new["Income"].unique()

array([0, 1])

In [14]:
# Now we proceed
# Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1) # 70 - 30 split

In [15]:
# Create a baseline Model  ( Logistic Regression )
from sklearn.linear_model import LogisticRegression
# Similar to LinearRegression

In [16]:
# Create object of Logistic Regression
lr = LogisticRegression()

In [17]:
# Train Test Split
lr.fit(X_train,Y_train)

LogisticRegression()

In [18]:
# Test the model, use predict() inbuilt method of Logistic Regression.
# predict() : Y_pred = 1/(1+exp(-X))
Y_pred = lr.predict(X_test)

In [19]:
Y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [20]:
d = {"Actual Input":Y_test,"Predicted Input":Y_pred}
new_df = pd.DataFrame(d)
new_df

      Actual Input  Predicted Input
339              0                0
244              0                0
862              1                1
567              0                0
926              0                0
...            ...              ...
1019             0                0
341              1                0
750              1                0
940              0                0
185              0                0

[310 rows x 2 columns]

In [21]:
# Find out score, it is also known as Accuracy-Score
# Score()- inbuilt method of Logistic Regression
lr.score(X_test,Y_test)
# It nearest to 1 which means acuracy is very good.

0.8

#### Accuracy score is always good. Most of the time , it is very good Means we should not depend upon only accuracy score We also check recall, precision, f1-score

In [22]:
# classification_report() 
# Confusion_matrix()
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [23]:
print("Classification Report")
print(classification_report(Y_test,Y_pred))
print("Confusion Matrix")
print(confusion_matrix(Y_test,Y_pred))

Classification Report
              precision    recall  f1-score   support

           0       0.81      0.96      0.88       238
           1       0.68      0.26      0.38        72

    accuracy                           0.80       310
   macro avg       0.75      0.61      0.63       310
weighted avg       0.78      0.80      0.76       310

Confusion Matrix
[[229   9]
 [ 53  19]]